body {
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: rgb(122, 41, 41);
  color: white;
  padding: 15px 0;
}

.card_movie {
  height: 550px;
  position: relative;
}

.cover-movie-card {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border: none;
}